<h1>
  Archi Web - Les observables - Test switchMap / concatMap / mergeMap
  /exhaustMap
</h1>
<br />
<input [(ngModel)]="search" (ngModelChange)="updateSearch($event)" /><button
  (click)="reset()"
>
  Reset
</button>

<br /><br />
<div class="container">
  <div class="box">
    <div>SwitchMap</div>
    <br />
    <div *ngFor="let s of switchMap">{{ s }}</div>
  </div>

  <div class="box">
    <div>ConcatMap</div>
    <br />
    <div *ngFor="let c of concatMap">{{ c }}</div>
  </div>

  <div class="box">
    <div>MergeMap</div>
    <br />
    <div *ngFor="let c of mergeMap">{{ c }}</div>
  </div>

  <div class="box">
    <div>ExhaustMap</div>
    <br />
    <div *ngFor="let c of exhaustMap">{{ c }}</div>
  </div>
  <div></div>
</div>
